.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;

}

@media screen and (max-width: 1024px){
    .row{
        grid-template-columns: repeat(4, 1fr);
    }
    
}

@media screen and (max-width: 768px){
    .row{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 480px){
    .row{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 320px){
    .row{
        grid-template-columns: repeat(1, 1fr);
    }
    
}


.searchBar{
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
    margin-top: 20px;
    background-color: rgb(47, 47, 79);
    /* background-color: #323232; */
    /* background-color: #ca2929; */
    width: 100%;
}
