.reviews-page {
    display: flex;
    flex-direction: row;
    background-color:rgb(47, 47, 79);;
    
    
}

.card-movie {
    background-color: #24484a;
    gap: 10px;
    padding: 20px;
    margin: 20px 0px 0px 20px;
    
}
.card-movie h1 {
    color: #ffee2f;
    font-size: 2rem;
    margin-bottom: 10px;
}

.card-movie-details {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 1.2rem;
    gap: 10px;
}

.card-poster{
    margin: 10px 0px;

}


.card-title-span,
.card-overview,
.card-rating,
.card-vote-count,
.card-released {
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffee2f;
}

.card-reviews-area {
    background-color: rgb(47, 47, 79);
    width: 100%;
    padding: 20px;
    color: white;
    gap: 10px;

    /* height: 50%; */
}

.card-review-user,
.card-review-text {
    font-weight: bold; /* This will make the text bold */
    font-size: large;
}

.addReview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #24484a;
    color: white;
  
}

.addReview h1 {
    color: #ffee2f;
}
/* text area with set rows and no editiable sizes */
textarea{
    resize: none;
    overflow: hidden;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    scrollbar-width: thin;
}

.reviewButton {
    background-color: transparent;
    color: #FFFFFF;
    border:2px solid #cc4a4a;
    font-size: large;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    cursor: pointer; /* Cursor changes to a hand when hovered */
}

.reviewButton:hover {
    background-color: #cc4a4a; /* Hover effect */
    color: white;
}

.input-name{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid #cc4a4a;
    outline: none;
    transition: 0.5s;
}

.input-name:hover::placeholder{
    
    color: white;
}

.input-name:hover{
    background-color: #cc4a4a;
    color: white;
    
}

.text-input{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid #cc4a4a;
    outline: none;
    transition: 0.5s;
}

.text-input:hover::placeholder{
    
    color: white;
}

.text-input:hover{
    background-color: #cc4a4a;
    color: white;
}

.reviews-header {
    color: #ffee2f;
}

.card-reviews {
    display: flex;
    flex-direction: column;
    background-color: #24484a;
    gap: 10px;
    padding: 20px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px;
    height: 50%;
    overflow-y: scroll;
    scrollbar-color: #cc4a4a rgba(0, 0, 0, 0.3);
    scrollbar-gutter: stable;
}

.card-reviews::-webkit-scrollbar-thumb {
    border-radius: 50px;
}


.card-review {
    background-color: white; /* Or any other color you want for the box */
    padding: 15px; /* Spacing inside the box */
    margin-bottom: 10px; /* Space between each review box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Horizontal offset, vertical offset, blur radius, color */
    border-radius: 5px;
}

.no-reviews {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);

}

.modal-content{
    background-color: #24484a;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close{
    color: white;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
    transition: 0.5s;
}

.close:hover {
    color: #f00; /* Changes color on hover, example is red */
    transform: scale(1.1); /* Makes the 'X' slightly larger on hover */
  }

.space-between {
    display: flex;
    justify-content: space-between;
}