.row-of-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #24484a;
    color:#fff;
    border: 5px solid #24484a;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.8);
    text-align: center;
    padding: 1rem;
    max-height: auto;
    margin: 0 auto;
    width: 28rem;
    height: 40rem;
    
}

.reviews-button {
    text-decoration: none;
    color: #fff; /* White text color */
    background-color: #921409; /* Dark red background */
    padding: 0.3rem;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 700;
}

/* Specify the :visited state without changing its appearance */
.reviews-button:visited {
    color: #fff; /* Keep text color white */
    background-color: #921409; /* Keep background dark red */
    text-decoration: none;

}

/* Enhance the :hover state specificity and keep its styles */
.card .reviews-button:hover {
    color: #921409; /* Dark red text color on hover */
    background-color: #fff; /* White background on hover */
}


.card .title {
    font-size: 2vw;
    
    
    
    
    padding: 0.5rem;
    font-weight: 700;
    color: #ffee2f;
}

.card .title.smaller-font-size {
    font-size: 1.2rem; /* Smaller font size */
}

.card .title.normal-font-size {
    font-size: 1.5rem; /* Normal font size */
}


.rating,
.released {
    font-size: 1 rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffee2f;
}

.card .poster {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60%;
    height: 60%;
    border-radius: 30px;    
    padding: 1rem;
    
}

.card #description {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #921409 #1d3c3e;
    height: 150px;
    /* background-color: #1d3c3e; */
    padding: 0.5rem;
    text-align: left;
}

.content-css {
    text-align: left;
}

#description span {
    font-weight: bold;
    color: #ffee2f;
}

.show-more {
    
    color: #fff; /* White text color */
    background-color: #921409;  /* Dark red background */
    padding: 0.3rem;
    border-radius: 5px;    
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    
}

.show-more:hover {
    color: #921409; /* Dark red text color on hover */
    background-color: #fff; /* White background on hover */
}

.show-less {
    color: #fff; /* White text color */
    background-color: #921409;  /* Dark red background */
    padding: 0.3rem;
    border-radius: 5px;    
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.show-less:hover {
    color: #921409; /* Dark red text color on hover */
    background-color: #fff; /* White background on hover */
}




/* Responsive adjustments */

@media screen and (max-width: 2000px){
    .card {
        width: 28rem;
        height: 40rem;
    }
}

@media screen and (max-width: 1680px){
    .card {
        width: 28rem;
        height: 40rem;
    }
}

@media screen and (max-width: 1280px){
    .card {
        width: 24rem;
        height: 34rem;
        margin: 5px;
        padding: 15px;
    }
}

@media screen and (max-width: 768px){
    .card {
        width: 28rem;
        height: 40rem;
    }
    .card .title.smaller-font-size {
        font-size: 0.9rem; /* Smaller font size */
    }
    
    .card .title.normal-font-size {
        font-size: 1.5rem; /* Normal font size */
    }
    

}


@media screen and (max-width: 480px){
    .card {
        width: 22rem;
        height: 30rem;
        margin: 2px;
        padding: 10px;
    }
    .card .title {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }
}