.row-of-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #24484a;
    color:#fff;
    border: 5px solid #24484a;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.8);
    text-align: center;
    padding: 1rem;
    max-height: auto;
    margin: 0 auto;
    width: 28rem;
    height: 40rem;
    
}

.card :link,:visited {
    text-decoration: none;
    color: #fff;
    background-color: #921409;
    padding: 0.3rem;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 700;
}

.card :link:hover {
    
    color: #921409;;
    background-color: #fff
}

.card .title {
    font-size: 1.5rem; /* Adjust the font size as needed */
    
    overflow: hidden; /* Ensures that the text doesn't spill out of its container */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long to fit */
    margin-bottom: 1rem;
    font-weight: 700;
}

.rating,
.released {
    font-size: 1 rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card .poster {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60%;
    height: 60%;
    border-radius: 30px;    
    padding: 1rem;
    
}

.card #description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
}
.content-css {
    text-align: left;
}

#description span {
    font-weight: bold;
}